<!DOCTYPE html>
<html>

<head>
    <title>AegrescitMedendo - 404</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    <link rel="stylesheet" href="/common.css">
    <script src="/static/scripts.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style>
        body {
          background-image: url('/static/404.png');
          background-size: cover;
        }
      </style>
</head>

<body >
    <ul class="menu sticky">
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About us</a></li>
    </ul>

</body>

</html>